.viewPlayer {
  position: relative;
  width: 100%;
  & .logo {
    position: absolute;
    width: 180px;
    left: 50%;
    top: 20px;
    z-index: 9;
    img {
      width: 100%;
    }
  }
  .wrap_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0%;
    bottom: 40px;
    transform: translate(0, -50%);
    width: 100%;
    &:nth-child(1) {
      margin-right: 38px;
    }
    &:nth-last-child(1) {
      margin-right: 0;
    }
  }
}

@media (max-width: 1024px) {
  .back_bottom {
    position: absolute;
    left: 30px;
    top: 56px;
    z-index: 100;
  }
  .logo {
    width: 80px !important;
    left: 50% !important;
    transform: translateX(-50%);
  }
  .viewPlayer {
    height: 100%;
  }

  .back div[data-icon='icon'] {
    background: #fff;
    * {
      fill: #161516;
    }
  }
}
