.viewPlayer {
  position: relative;
  width: 100%;
  & .logo {
    position: absolute;
    left: 50%;
    top: 40px;
  }
  .wrap_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0%;
    bottom: 40px;
    transform: translate(0, -50%);
    width: 100%;
    &:nth-child(1) {
      margin-right: 38px;
    }
    &:nth-last-child(1) {
      margin-right: 0;
    }
  }
}
.back_bottom {
  position: absolute;
  left: 3.5%;
  top: 7.7%;
  z-index: 100;
}
