.btnPrew {
  display: flex;
  align-items: center;
  & .icon {
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
    background-color: #161516;
    border-radius: 50%;
    cursor: pointer;
    * {
      fill: white;
    }
    & svg {
      margin-left: -4px;
    }
  }
  & .text {
    color: #161516;
    font-family: 'Proxima Nova';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.1; /* 15.4px */
    cursor: pointer;
  }
  :hover {
    opacity: 0.8;
  }
}

@media (max-width: 1024px) {
  .text {
    font-size: 12px !important;
  }
}
