.hint {
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background: #f8f9fa;
  font-family: 'Proxima Nova';

  span {
    font-family: 'Proxima Nova';
    color: #161516;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 18.2px */
  }

  svg {
    cursor: pointer;
  }
}
