.input {
  padding: 22px 20px;
  border-radius: 10px;
  border: 1px solid #ced4da;
  background: #fff;
  color: #7d7d8a;
  font-family: 'Proxima Nova';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.16px;
  width: 100%;
  outline: none;
}

@media (max-width: 1024px) {
  .input {
    padding: 13px 18px;
  }
}
