.wrapPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
}
.main {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 64px;
    width: 178px;
    height: auto;
    & svg {
      width: 100%;
      height: auto;
    }
  }
  .title {
    color: #161516;
    text-align: center;
    font-family: 'Proxima Nova';
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%; /* 46.8px */
  }
  .subTitle {
    color: #161516;
    text-align: center;
    font-family: 'Proxima Nova';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 26px */
  }
}

// .animateFill {
//   fill: #cf202e;
//   animation: fillAnimation 2s steps(4, end) infinite;
// }

// @keyframes fillAnimation {
//   0% {
//     clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
//   }
//   // 25% {
//   //   clip-path: polygon(0% 75%, 100% 75%, 100% 100%, 0% 100%);
//   // }
//   // 50% {
//   //   clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
//   // }
//   // 75% {
//   //   clip-path: polygon(0% 25%, 100% 25%, 100% 100%, 0% 100%);
//   // }
//   33% {
//     clip-path: polygon(0% 66%, 100% 66%, 100% 100%, 0% 100%);
//   }
//   66% {
//     clip-path: polygon(0% 33%, 100% 33%, 100% 100%, 0% 100%);
//   }
//   90% {
//     clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
//   }
//   100% {
//     clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
//   }
// }

/* Стили для маски */
@keyframes maskAnimation {
  0% {
    y: 50px;
  }
  100% {
    y: 0px;
  }
}

.bg {
  // animation: maskAnimation 3s ease-in-out forwards;
}

#rect {
  mask-image: url(#SVGMask);
  mask-mode: luminance;
}

@media (max-width: 992px) {
  .logo {
    margin-bottom: 30px;
  }
  .title {
    font-size: 18px !important;
  }

  .subtitle {
    font-size: 16px !important;
  }
}
