.page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
}

.configurator {
  display: flex;
  align-items: center;
}
.view {
  max-width: 62vw;
  width: 100%;
}
.wrap_configurator {
  max-width: 38vw;
  width: 100%;
}
@media screen and (max-width: 1600px) {
  .view {
    max-width: 55vw;
    width: 100%;
  }
  .wrap_configurator {
    max-width: 45vw;
    width: 100%;
  }
}
