.page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
}

.configurator {
  display: flex;
  align-items: center;
}
.view {
  max-width: 62vw;
  width: 100%;
}
.wrap_configurator {
  max-width: 38vw;
  width: 100%;
}
@media screen and (max-width: 1600px) {
  .view {
    max-width: 55vw;
    width: 100%;
  }
  .wrap_configurator {
    max-width: 45vw;
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .page {
    flex-direction: column;
  }
  .view {
    max-width: 100%;
    height: calc(var(--vh, 1vh) * 60);
    min-height: calc(var(--vh, 1vh) * 60);
    &Player {
      height: 100%;
    }
  }
  .wrap_configurator {
    position: relative;
    top: -48px;
    max-width: unset;
    width: 100%;
    height: calc((var(--vh, 1vh) * 40) - 48px);
    overflow-y: auto;
  }
}
@media (max-width: 1024px) {
  .wrap_configurator {
    position: relative;
    top: 0;
    max-width: unset;
    width: 100%;
    height: calc((var(--vh, 1vh) * 40));
    overflow-y: auto;
  }
}
