@tailwind components;
@tailwind utilities;

.tk-treble-app {
  display: grid;
  grid-template-columns: auto 400px;
  grid-gap: 16px;
  max-width: 1200px;
  margin: 0 auto;
}

.tk-treble-player {
  height: 100vh;
  position: sticky;
  top: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*  */

@media (max-width: 1024px) {
  .tk-treble-player {
    height: 100%;
  }
  .threekit-react.tk-player {
    min-height: 100px;
  }
  .threekit-react.tk-player > div:nth-child(1) {
    min-height: 100px;
  }
}
