.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  .header {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    padding: 12px 20px;
    border-bottom: 1px solid #ced4da;
    .btnPrew {
      display: flex;
      align-items: center;
      & .icon {
        margin-right: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        min-width: 32px;
        min-height: 32px;
        background-color: #161516;
        border-radius: 50%;
      }
      & .text {
        color: #161516;
        font-family: 'Proxima Nova';
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.1; /* 15.4px */
      }
    }
  }
}
.main {
  width: 100%;
  padding: 30px 18px;
  height: 100%;
  overflow: auto;
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 12px 20px;
  border-top: 1px solid #ced4da;
  background: #fff;

  /* soft_shadow */
  box-shadow: 0px 0px 40px 0px rgba(22, 21, 22, 0.08);
}
.wrap_box {
  display: flex;
  align-items: center;
}
.btn_trancperent {
  padding: 12px 27px;
  color: #495057;
  font-family: 'Proxima Nova';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 17.6px */
  border: none;
  outline: none;
  margin-right: 8px;
  cursor: pointer;
  background-color: transparent;
  &:hover {
    opacity: 0.8;
  }
}
.btn {
  padding: 12px 24px;
  border-radius: 10px;
  background: #cf202e;
  color: #fff;
  font-family: 'Proxima Nova';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  border: none;
  outline: none;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

@media (max-width: 1024px) {
  .wrap {
    padding-bottom: 62px;

    .header {
      padding: 0;
      padding-bottom: 8px;
    }
    .main {
      padding: 0;
      padding-top: 12px;
    }
    .btn {
      font-size: 12px;
      padding: 12px 16px;
    }
    .btn_trancperent {
      font-size: 12px;
      padding: 12px 16px;
    }
  }
}
